@use '../../variables' as *;

#objects {
  position: absolute;
  border-bottom: 1px solid $light-gray;
  top: 0;
  right: $options-width;
  left: $navigator-width;
  height: $objects-height;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;

  .list {
    display: flex;

    .obj {
      margin: 5px;

      button {
        font-size: 15px;
        font-weight: 500;
        padding: 8px;
        border-radius: 5px;
        line-height: 1;

        &:hover {
          background-color: $light-gray;
        }

        &:active {
          background-color: #f8f8f8;
        }
      }
    }
  }
}
